.nav {
    &__list {
        display: flex;
        gap: 30px;
    }

    &__link {
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        color: rgba(255, 255, 255, 0.80);
        cursor: pointer;
        transition: .2s all ease;
        &:hover {
            border-bottom: 2px solid rgba(255, 255, 255, 0.80);
        }
    }
}